[Desktop Entry]
Name=st
GenericName=Terminal
Comment=Simple terminal emulator
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;
Exec=st
Icon=utilities-terminal
Type=Application
