/*

!/.Xresources
!/.bash_aliases
!/.bash_logout
!/.bashrc
!/.gdbinit
!/.gitconfig
!/.gitignore
!/.inputrc
!/.profile
!/LICENSE

!/bin/

!/.config/
/.config/*

!/.config/ctags/
!/.config/dunst/
!/.config/fontconfig/
!/.config/htop/
!/.config/kitty/

!/.config/i3/
/.config/i3/scripts/archived/

!/.config/nvim/
/.config/nvim/spell/*.spl

!/.config/qalculate/
/.config/qalculate/qalc.history

!/.config/tmux/

!/.local/
/.local/*
!/.local/share
/.local/share/*

!/.local/share/konsole/
/.local/share/konsole/konsolestaterc
