[user]
	email = 79308609+danielsource@users.noreply.github.com
	name = daniel.source
[init]
	defaultBranch = main
[core]
	editor = emacs
	autocrlf = input
[credential "https://github.com"]
	helper = !gh auth git-credential
[include]
	path = ~/.gitinfo
[color "diff"]
	meta = blue
[alias]
	c = commit --no-edit --allow-empty-message
	adog = log --all --decorate --oneline --graph
