*.background:  [85]#0C0C0C
*.foreground:  #FFFFFF
*.cursorColor: #FFFFFF
*.color0:      #241F31
*.color1:      #C01C28
*.color2:      #2EC27E
*.color3:      #F5C211
*.color4:      #1E78E4
*.color5:      #9841BB
*.color6:      #31DDC9
*.color7:      #C0BFBC
*.color8:      #5E5C64
*.color9:      #ED333B
*.color10:     #57E389
*.color11:     #F8E45C
*.color12:     #4884E0
*.color13:     #C061CB
*.color14:     #7DE8F7
*.color15:     #F6F5F4

URxvt.font: xft:monospace:size=9
URxvt.depth: 32
URxvt.urgentOnBell: true
URxvt.pointerBlank: true
URxvt.saveline: 10000
URxvt.iso14755: false
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.perl-ext-common: default,font-size
